@import "../node_modules/font-awesome/css/font-awesome.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (min-width: 675px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
